h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .seat {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #b2b2b2;
    border-radius: 0.5rem;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .seat:hover {
    background-color: #a0a0a0;
  }
  
  .seat.selected {
    background-color: #c72121;
  }
  
  .seat.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  p:last-child {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .confirmButton {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #c72121;
    color: white;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .confirmButton:hover {
    background-color: #a50f0f;
  }
  
  .confirmButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  